<head>
    <title>Courses</title>
</head>

<nav>
    <a href="/home">Home</a>
    |
    <a href="/profile">Profile</a>
    |
    <a href="/logout">Logout</a>
    |
    <a href="/instructors">Instructors</a>
    |
    <a href="/courses" class="selected">Courses</a>
    |
    <a href="/students">Students</a>
    |
    <a href="timeline">General Timeline</a>
</nav>

<div class="main">
    <h2 class="title">Courses</h2>

    <!-- 
    <div class="row">
        <div class="column">
            <div class="card">
                <h3>Data Science Immersive</h3>
                <p>Online</p>
                <p>12-week</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>Software Engineering Immersive</h3>
                <p>Online</p>
                <p>12-week</p>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <h3>User Experience Design Immersive</h3>
                <p>Online</p>
                <p>12-week</p>
            </div>
        </div>

    </div> -->

    <div class="card">
        <div class="cardContainer">
            <h4><b>Software Engineering Immersive</b></h4>
            <p>Online</p>
            <p>12-week | 480 hours | Full-Time</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="cardContainer">
            <h4><b>Data Science Immersive</b></h4>
            <p>Online</p>
            <p>12-week | 480 hours | Full-Time</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="cardContainer">
            <h4><b>User Experience Design Immersive</b></h4>
            <p>Online</p>
            <p>12-week | 480 hours | Full-Time</p>
        </div>
    </div>
</div>