<head>
    <title>Courses</title>
</head>

<nav>
    <a href="/home">Home</a>
    |
    <% if (userId){%>
        <a href="/profile">Profile</a>
        |
        <a href="/logout">Logout</a>
        |
        <% } else { %>
            <a href="/login">Login</a>
            |
            <a href="/signup">Sign Up</a>
            |
            <% } %>
                <a href="/instructors">Instructors</a>
                |
                <a href="/courses" class="selected">Courses</a>
                |
                <a href="/students">Students</a>
                |
                <a href="timeline">General Timeline</a>
</nav>

<div class="main">
    <h2 class="title">Courses</h2>
    <a href="/courses/new"><button class="button">Create Course</button></a>
    <br>
    <br>
    <div class="card">
        <div class="cardContainer">
            <h4><b>Software Engineering Immersive</b></h4>
            <p>Online</p>
            <p>12-week | 480 hours | Full-Time</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="cardContainer">
            <h4><b>Data Science Immersive</b></h4>
            <p>Online</p>
            <p>12-week | 480 hours | Full-Time</p>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="cardContainer">
            <h4><b>User Experience Design Immersive</b></h4>
            <p>Online</p>
            <p>12-week | 480 hours | Full-Time</p>
        </div>
    </div>

</div>