<head>
    <title>Home</title>
</head>

<nav>
    <a href="/home" class="selected">Home</a>
    |
    <a href="/login">Login</a>
    |
    <a href="/signup">Sign Up</a>
    |
    <a href="/instructors">Instructors</a>
    |
    <a href="/courses">Courses</a>
    |
    <a href="/students">Students</a>
    |
    <a href="timeline">General Timeline</a>
</nav>

<div class="container">
    <div class="main">
        <div class="item">
            <br>
            <h2 class="title">About:</h2>
            <p class="desc">
                a Simple Community for GA Instructors and Students. contains profile pages for students and instructors,
                information pages for GA courses, comment/discussion section and a star rating system for both
                instructors
                and courses. It also contains a Timeline that allows registered users to post in.
            </p>
            <br>
            <hr>
            <br>
            <h2 class="title">Team Members:</h2>
            <ul class="list">
                <li>~ Ibrahim Shaheen</li>
                <br>
                <li>~ Rawan AlOmairy</li>
                <br>
                <li>~ Meznah AlAmry</li>
            </ul>
        </div>
    </div>
    <div class="item">
        <img src="/img/ga-logo.png" width="500" height="500">
    </div>


</div>