<head>
    <title>Home</title>
</head>

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->

    <nav>
        <a href="/home" class="selected">Home</a>
        |
        <a href="/login">Login</a>
        |
        <a href="/signup">Sign Up</a>
        |
        <a href="/instructors">Instructors</a>
        |
        <a href="/courses">Courses</a>
        |
        <a href="/students">Students</a>
        |
        <a href="timeline">General Timeline</a>
    </nav>