
<head>
    <title>GA Community</title>
</head>

<div class="main">
    <br>
    <img src="/img/ga-logo.png" width="350" height="350">
    <br>
    <br>
    <a href="/home"><button class="button">Head to GA Community</button></a>
</div>
