<head>
    <title>Profile</title>
</head>
<nav>
    <a href="/home">Home</a>
    |
    <% if (student._id){%>
        <a href="/profile" class="selected">Profile</a>
        |
        <a href="/logout">Logout</a>
        |
        <% } else { %>
            <a href="/login">Login</a>
            |
            <a href="/signup">Sign Up</a>
            |
            <% } %>
                <a href="/instructors">Instructors</a>
                |
                <a href="/courses">Courses</a>
                |
                <a href="/students">Students</a>
                |
                <a href="/timeline">General Timeline</a>
</nav>


<div class="students-container">
    <div class="students-info">
        <div class="students-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
                alt="">
        </div>
        <div class="student-details">
            <p><b>Name:</b>
                <%= student.name %>
            </p>
            <p><b>Email:</b>
                <%= student.email %>
            </p>
            <p><b>Number:</b>
                <%= student.number %>
            </p>
        </div>
    </div>

    <div class="students-courses">
        <p><b>Enrolled in:</b></p>
        <ul>
            <% for(let i=0; i<student.course.length; i++){ %>

                <li><%= student.course[i] %></li>

                <% } %>
        </ul>
    </div>

</div>