<head>
    <title>Sign Up</title>
</head>

<nav>
    <a href="/home">Home</a>
    |
    <a href="/login">Login</a>
    |
    <a href="/signup" class="selected">Sign Up</a>
    |
    <a href="/instructors">Instructors</a>
    |
    <a href="/courses">Courses</a>
    |
    <a href="/students">Students</a>
    |
    <a href="timeline">General Timeline</a>
</nav>

<div class="main">
    <form action="/students" class="form" method="POST">
        <h2 class="loginSignup"> Create Your Account</h2>
        <p>Full Name</p>
        <input type="text" placeholder="your name" name="name">
        
        <p>Email</p>
        <input type="text" placeholder="your email" name="email">

        <p>Password</p>
        <input type="password" placeholder="your password" name="password">

        <p>Phone Number</p>
        <input type="tel" id="phone" name="number" placeholder="966556677889">

        <p>Courses:</p>
        <input type="checkbox" name="course" value="Software Engineering Immersive (SEI)">
        <label for="course">Software Engineering Immersive</label><br>

        <input type="checkbox" name="course" value="Data Science Immersive (DSI)">
        <label for="course">Data Science Immersive</label><br>

        <input type="checkbox" name="course" value="User Experience Design Immersive (UEDI)">
        <label for="course"> User Experience Design Immersive</label>
        <br>
        <br>
        <input type="submit" value="Submit">

    </form>
</div>