<head>
    <title>Timeline</title>
</head>

<nav>
    <a href="/home">Home</a>
    |
    <% if (userId){%>
        <a href="/profile">Profile</a>
        |
        <a href="/logout">Logout</a>
        |
<% } else { %>
        <a href="/login">Login</a>
        |
        <a href="/signup">Sign Up</a>
        |
 <% } %>
    <a href="/instructors">Instructors</a>
    |
    <a href="/courses">Courses</a>
    |
    <a href="/students">Students</a>
    |
    <a href="/timeline" class="selected">General Timeline</a>
</nav>
<div class="main">
    <h2 class="title">Timeline</h2>
</div>
<div>
    <form method="POST" action="/timeline">
        <input type="text" name="timeline" class="timeline" placeholder="Type Your Message">
    
        <input type="submit" value="Send">
    
    </form>
    </div>
<div class="timeline-container">

    <% for(let message of messages){%>
    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b> <%= message.user.name %> </b></p>
            <p> <%= message.content %> </p>
        </div>
    </div>
    <% } %>
    
    

    <!-- <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>Yasir has a knife, beware of Yasir</p>
        </div>
    </div>

    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>Ali's homeworks are long :(</p>
        </div>
    </div>
    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>I went to Zulfi once, came back missing a leg</p>
        </div>
    </div>
    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>Have anyone tried Marco's Legendary Pizza yet?</p>
        </div>
    </div>
    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>I'm having issues with MongoDB, can someone help me?</p>
        </div>
    </div>
    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae maxime quae excepturi quisquam quidem aspernatur, consequuntur voluptas laudantium, illum corrupti tempora consequatur vel animi nihil molestias veniam expedita inventore sunt.</p>
        </div>
    </div> -->
</div>

