<head>
    <title>Students</title>
</head>

<!-- <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->

<nav>
    <a href="/home">Home</a>
    |
    <a href="/login">Login</a>
    |
    <a href="/signup">Sign Up</a>
    |
    <a href="/instructors">Instructors</a>
    |
    <a href="/courses">Courses</a>
    |
    <a href="/students">Students</a>
    |
    <a href="/timeline" class="selected">General Timeline</a>
</nav>

<div class="timeline-container">
    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae maxime quae excepturi quisquam quidem aspernatur, consequuntur voluptas laudantium, illum corrupti tempora consequatur vel animi nihil molestias veniam expedita inventore sunt.</p>
        </div>
    </div>

    <div class="timeline-content">
        <div class="timeline-img">
            <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>    
        <div class="timeline-details">
            <p><b>Name</b></p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae maxime quae excepturi quisquam quidem aspernatur, consequuntur voluptas laudantium, illum corrupti tempora consequatur vel animi nihil molestias veniam expedita inventore sunt.</p>
        </div>
    </div>
</div>