<head>
    <title>Instructors</title>
</head>

<nav>
    <a href="/home">Home</a>
    |
    <% if (userId){%>
        <a href="/profile">Profile</a>
        |
        <a href="/logout">Logout</a>
        |
        <% } else { %>
            <a href="/login">Login</a>
            |
            <a href="/signup">Sign Up</a>
            |
            <% } %>
                <a href="/instructors" class="selected">Instructors</a>
                |
                <a href="/courses">Courses</a>
                |
                <a href="/students">Students</a>
                |
                <a href="timeline">General Timeline</a>
</nav>

<div class="main">
    <h2 class="title">Instructors</h2>
    <% instructors.forEach((el,i)=> {%>

        <div class="card">
            <a href="/instructors/<%= el.id %>">
                <div class="cardContainer">
                    <h4><b>
                            <%= el.name %> - <%= el.role %>
                        </b></h4>
                    <p>
                        <%= el.course %>
                    </p>
                </div>
            </a>
        </div>

        <% }) %>
            <!-- <div class="card">
        <div class="cardContainer">
            <h4><b>Yasir AlMuhtrish - JLI</b></h4>
            <p>Software Engineering Immersive</p>
        </div>
    </div>
    <div class="card">
        <div class="cardContainer">
            <h4><b>Haneen AlGhamdi - IA</b></h4>
            <p>Software Engineering Immersive</p>
        </div>
    </div>
    <div class="card">
        <div class="cardContainer">
            <h4><b>Ali Hamidaddin - IA</b></h4>
            <p>Software Engineering Immersive</p>
        </div>
    </div> -->

</div>