<head>
    <title>Instructor</title>
</head>
<nav>
    <a href="/home">Home</a>
    |
    <% if (userId){%>
        <a href="/profile">Profile</a>
        |
        <a href="/logout">Logout</a>
        |
<% } else { %>
        <a href="/login">Login</a>
        |
        <a href="/signup">Sign Up</a>
        |
 <% } %>
    <a href="/instructors"class="selected">Instructors</a>
    |
    <a href="/courses">Courses</a>
    |
    <a href="/students" >Students</a>
    |
    <a href="/timeline">General Timeline</a>
</nav>


<div class="students-container">
    <div class="students-info">
        <div class="students-img">
             <img src="https://icons-for-free.com/iconfiles/png/512/customer+information+personal+profile+user+icon-1320086045331670685.png"
            alt="">
        </div>
        <div class="student-details">
            <p><b>Name:</b></p> Marco
            <p><b>Course:</b></p> Software Engineering
            <p><b>Role:</b></p> LI
            <p><b>Hidden Talent:</b></p> Pizza Master
        </div>
    </div>

<div class="students-courses">
    <p><b>Enrolled in:</b></p>
    <ul>
        <li></li>
    </ul>
</div>

</div>